/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.Crew {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 3rem;
  padding-bottom: 5rem;
  background: url("../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 13rem;
}
@media (max-width: 900px) {
  .Crew {
    background: url("../assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.title {
  margin: auto;
  margin-bottom: 3rem;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}
.title b {
  color: #626474;
  margin-right: 0.8rem;
}

.crew-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 1800px;
}
.crew-info {
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.crew-info p {
  line-height: 1.5rem;
  max-width: 480px;
  margin: auto;
}

.occupation {
  font-size: clamp(1.2rem, 0.9524rem + 1.2381vw, 2.5rem);
  font-weight: 400;
  color: #979797;
}
.name {
  font-weight: 400;
  font-size: clamp(2rem, 1.619rem + 1.9048vw, 4rem);
  width: 100%;
  line-height: 2.7rem;
  margin-bottom: 1rem;
}
.img-container {
  margin: auto;
  -ms-grid-row: 2;
  grid-row: 2;
}
.person-img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 90%;
  max-width: 350px;
  border-bottom: 1px solid #d0d6f949;
  margin: auto;
}
@media (min-width: 600px) {
  .crew-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .title {
    text-align: left;
    margin: unset;
    margin-bottom: 5rem;
  }
  .crew-info {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .img-container {
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
}
@media (min-width: 1000px) {
  .title {
    align-self: flex-start;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    margin: unset;
  }
  .crew-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .crew-info {
    margin-top: 3rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
    gap: 1rem;
    text-align: start;
  }
  .crew-info p {
    margin: unset;
  }
  .name {
    line-height: 3rem;
  }

  .img-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-row: unset;
  }
  .person-img {
    max-width: 535px;
    -o-object-fit: contain;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
}
.crewmate-selector {
  margin: 1.5rem;

  -ms-grid-row: 1;

  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.crewBtn {
  background-color: transparent;
  padding: 0.7rem;
  border-radius: 5rem;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  transition: background-color 0.15s;
}
.crewBtn:hover {
  background-color: rgba(255, 255, 255, 0.147);
}
.crewBtn.activated {
  background-color: white;
}

@media (min-width: 600px) {
  .crewmate-selector {
    -ms-grid-row: 4;
    grid-row: 4;
  }
}
